# Users referenced in this file will automatically be requested as reviewers for PRs that modify the given paths.
# See https://help.github.com/articles/about-code-owners/

/azure-pipelines.yml                    @aspnet/build
/eng/                                   @aspnet/build
/eng/common/                            @dotnet-maestro-bot
/eng/Versions.props                     @dotnet-maestro-bot
/eng/Version.Details.xml                @dotnet-maestro-bot
/src/Caching/                           @tratcher @anurse
/src/Configuration/                     @tratcher @anurse
/src/Hosting/                           @tratcher @anurse
/src/Primitives/                        @tratcher @anurse
/src/Shared/src/HostFactoryResolver/    @tratcher @anurse
