<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["ChatWithCustomData.Web.styles.css"]" />
    <ImportMap />
    <HeadOutlet @rendermode="@renderMode" />
</head>

<body>
    <Routes @rendermode="@renderMode" />
    <script src="lib.js" type="module"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

@code {
    private readonly IComponentRenderMode renderMode = new InteractiveServerRenderMode(prerender: false);
}
