[submodule "modules/csharp-language-server-protocol"]
	path = modules/csharp-language-server-protocol
	url = https://github.com/OmniSharp/csharp-language-server-protocol.git
[submodule "modules/Razor"]
	path = modules/Razor
	url = https://github.com/aspnet/Razor.git
