language: csharp
sudo: required
dist: trusty
addons:
  apt:
    packages:
    - gettext
    - libcurl4-openssl-dev
    - libicu-dev
    - libssl-dev
    - libunwind8
    - zlib1g
env:
  global:
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
    - DOTNET_CLI_TELEMETRY_OPTOUT: 1
mono:
  - 4.0.5
os:
  - linux
  - osx
osx_image: xcode7.3
branches:
  only:
    - master
    - release
    - dev
    - /^(.*\/)?ci-.*$/
before_install:
  - if test "$TRAVIS_OS_NAME" == "osx"; then brew update; brew install openssl; ln -s /usr/local/opt/openssl/lib/libcrypto.1.0.0.dylib /usr/local/lib/; ln -s /usr/local/opt/openssl/lib/libssl.1.0.0.dylib /usr/local/lib/; fi
script:
  - ./build.sh
notifications:
  webhooks:
    secure: "UiVaDFq+8X2my/h8kIMjYvd93bFJiEJIjJCx6C+h9xeJDrM2Y4+e+kLnoxFVmI89+nAiRk4gSGEWrtVhJtWwp26o7+FGKqoCIIsUwvRB/alrEhLxPlI0Pf2YE34hwHmQlKpntBCB+4pmfTgDiLtz30i6NieeEM4aRubx7x6MOLQ="
  on_success: always
  on_failure: always
  on_start: always
