<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="dotnet-core" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="aspnet-extensions" value="https://dotnetfeed.blob.core.windows.net/aspnet-extensions/index.json" />
    <add key="myget-roslyn" value="https://dotnet.myget.org/F/roslyn/api/v3/index.json" />
    <add key="myget-roslyn-tools" value="https://dotnet.myget.org/F/roslyn-tools/api/v3/index.json" />
    <add key="myget-vssdk" value="https://vside.myget.org/F/vssdk/api/v3/index.json" />
    <add key="myget-vsmac" value="https://vside.myget.org/F/vsmac/api/v3/index.json" />
    <add key="myget-devcore" value="https://vside.myget.org/F/devcore/api/v3/index.json" />
  </packageSources>
</configuration>
