<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    This file will get copied into an "install" directory, where the "dotnet install"
    command will be run to install the templates locally.
    We just have a single NuGet source (the local shipping packages folder) to ensure
    that we install the template from the right place.
  -->

  <fallbackPackageFolders>
    <!-- Clear to avoid inheriting from the repo root NuGet.config -->
    <clear />
  </fallbackPackageFolders>
  <packageSources>
    <clear />
    <!-- 'LOCAL_SHIPPING_PATH' is an environment variable that gets set by the template tests. -->
    <add key="local-shipping" value="%LOCAL_SHIPPING_PATH%" />
  </packageSources>
  <disabledPackageSources>
    <!-- Clear to avoid inheriting from the repo root NuGet.config -->
    <clear />
  </disabledPackageSources>
  <packageSourceMapping>
    <!-- Clear to avoid inheriting from the repo root NuGet.config -->
    <clear />
  </packageSourceMapping>
</configuration>
