<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Microsoft Managed Basic Rules" Description="" ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.CSharp.Analyzers">
    <Rule Id="CA1303" Action="None" />
    <Rule Id="CA1810" Action="None" />
    <Rule Id="CA1816" Action="None" />
    <Rule Id="CA1826" Action="None" />
    <Rule Id="CA2000" Action="Info" />
    <Rule Id="CA2002" Action="Info" />
    <Rule Id="CA2008" Action="Info" />
    <Rule Id="CA2208" Action="None" />
    <Rule Id="CA2237" Action="None" />
  </Rules>
</RuleSet>
