<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    This file will get copied into each test project directory to control which NuGet sources
    get used during project restore.
  -->

  <fallbackPackageFolders>
    <!-- Clear to avoid inheriting from the repo root NuGet.config -->
    <clear />
  </fallbackPackageFolders>
  <packageSources>
    <clear />
    <!-- 'LOCAL_SHIPPING_PATH' is an environment variable that gets set by the template tests. -->
    <add key="local-shipping" value="%LOCAL_SHIPPING_PATH%" />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <!-- Clear to avoid inheriting from the repo root NuGet.config -->
    <clear />
  </disabledPackageSources>
  <packageSourceMapping>
    <!-- Clear to avoid inheriting from the repo root NuGet.config -->
    <clear />
  </packageSourceMapping>
</configuration>
