-SourceToolsList @("policheck","credscan")
-ArtifactToolsList @("binskim")
-TsaInstanceURL https://devdiv.visualstudio.com/
-TsaProjectName DEVDIV
-TsaNotificationEmail aspnetcore-build@microsoft.com
-TsaCodebaseAdmin REDMOND\aspnetcore-build
-TsaBugAreaPath "DevDiv\ASP.NET Core\Policy Violations"
-TsaIterationPath DevDiv
-TsaRepositoryName dotnetextensions
-TsaCodebaseName dotnetextensions
-TsaOnboard $True
-TsaPublish $True
-PoliCheckAdditionalRunConfigParams @("UserExclusionPath < $(Build.SourcesDirectory)/.config/PoliCheckExclusions.xml")
-CrScanAdditionalRunConfigParams @("SuppressionsPath < $(Build.SourcesDirectory)/.config/CredScanSuppressions.json")
