<div class="chat-header-container main-background-gradient">
    <div class="chat-header-controls page-width">
        <button class="btn-default" @onclick="@OnNewChat">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="new-chat-icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            New chat
        </button>
    </div>

    <h1 class="page-width">ChatWithCustomData.Web</h1>
</div>

@code {
    [Parameter]
    public EventCallback OnNewChat { get; set; }
}
