<div class="p-6 main-background-gradient sticky top-0">
    <div class="mb-6 page-width">
        <button class="btn-default" @onclick="@OnNewChat">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 text-gray-700">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>

            New chat
        </button>
    </div>

    <h1 class="page-width">ChatWithCustomData.Web</h1>
</div>

@code {
    [Parameter]
    public EventCallback OnNewChat { get; set; }
}
