.chat-container {
    position: sticky; 
    bottom: 0; 
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    padding-top: 0.75rem; 
    padding-bottom: 1.5rem; 
    border-top-width: 1px; 
    background-color: #F3F4F6; 
    border-color: #E5E7EB;
}
